*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.gradle/
build/
*.log
captures/
.externalNativeBuild/
.cxx/
*.apk
output.json
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
